<mat-card>
  <img src="../../assets/mugshot.jpg" alt="Somik Datta">
  <div class="flexColumn">
    <div class="primaryColorText bold" id="name">Somik Datta</div>
    <div class="flex" id="socialContainer">
      <a href="https://www.linkedin.com/in/somikdatta" id="linkedin">
        <i class="fab fa-linkedin social"></i>
      </a>
      <a href="https://www.github.com/somikdatta" id="github">
        <i class="fab fa-github-square social"></i>
      </a>
      <a href="https://www.facebook.com/somikdatta" id="facebook">
        <i class="fab fa-facebook-square social"></i>
      </a>
      <a href="mailto:developersomik@gmail.com" id="mail">
        <i class="fas fa-envelope social"></i>
      </a>
    </div>
  </div>
</mat-card>
