mat-card {
  width: 20rem;
  z-index: 2;
  margin: 0 auto 0.5rem auto;
}

#welcome {
  width: 100%;
}

#container {
  margin-left: auto;
  margin-right: auto;
}

#identity {
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#subject {
  margin-bottom: 0.4rem;
  width: 100%;
}

.smallInfo {
  padding: 2px;
  border-radius: 2px;
  margin-right: 4px;
}

hr {
  border-top: 1px solid #3f51b5;
}

mat-spinner {
  margin: 0 auto;
}
