<div class="background" id='welcome'>
  <br><br><br><br>
  <p class="bigText center whiteText">Your result this semester</p>
  <br><br>
</div>

<mat-card id="container">
  <div *ngFor="let mark of marks; let i=index" id="subject">
    <div class="flex"><span class="bold">{{subjects[i]}}</span><span class="bold">{{mark.grade}}</span></div>
    <span></span>
    <div>
      <span class="smallText"><span class="bold">Int:</span> {{mark.int}} </span>
      <span class="smallText"><span class="bold">Ext:</span> {{mark.ext}} </span>
      <span class="smallText"><span class="bold">Total:</span> {{mark.tot}}</span>
    </div>
  </div>
</mat-card>
{{gpa}}
